body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px);
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#header h1 {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #ccc,2px 2px 0px #ccc,3px 3px 0px #ccc,4px 4px 0px #ccc,5px 5px 0px #ccc,6px 6px 0px #ccc,7px 7px 0px #ccc,8px 8px 0px #ccc,9px 9px 0px #ccc,10px 10px 0px #ccc,11px 11px 0px #ccc,12px 12px 0px #ccc,13px 13px 0px #ccc,14px 14px 0px #ccc,15px 15px 0px #ccc,16px 16px 0px #ccc,17px 17px 0px #ccc,18px 18px 0px #ccc,19px 19px 0px #ccc,20px 20px 0px #ccc,21px 21px 0px #ccc,22px 22px 0px #ccc,23px 23px 0px #ccc,24px 24px 0px #ccc,25px 25px 0px #ccc,26px 26px 0px #ccc,27px 27px 0px #ccc,28px 28px 0px #ccc,29px 29px 0px #ccc,30px 30px 0px #ccc,31px 31px 0px #ccc,32px 32px 0px #ccc,33px 33px 0px #ccc,34px 34px 0px #ccc,35px 35px 0px #ccc,36px 36px 0px #ccc,37px 37px 0px #ccc,38px 38px 0px #ccc,39px 39px 0px #ccc,40px 40px 0px #ccc,41px 41px 0px #ccc,42px 42px 0px #ccc,43px 43px 0px #ccc,44px 44px 0px #ccc,45px 45px 0px #ccc,46px 46px 0px #ccc,47px 47px 0px #ccc,48px 48px 0px #ccc,49px 49px 0px #ccc,50px 50px 0px #ccc;
}
#header h1 strong {
  font-weight: 700;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.corona {
  width: 1200px;
  height: 600px;
}

.calendarBox {
  position: absolute;
  top: 100px;
  right: 50px;
}
.calendarBox input {
  width: 340px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: inherit;
  color: #fff;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.calendar {
  display: none;
  width: 300px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.calendar .header button {
  color: #fff;
  border: none;
  background: none;
  outline: none;
}
.calendar .header .month {
  font-weight: 700;
}
.calendar .days {
  margin: 10px 0;
  text-transform: uppercase;
}
.calendar .days .sun span {
  background-color: rgb(200, 0, 0);
}
.calendar .days .sat span {
  background-color: rgb(0, 118, 214);
}
.calendar .days ul,
.calendar .dates ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 700;
}
.calendar .days ul li,
.calendar .dates ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(14.2857142857% - 4px);
  position: relative;
  margin: 2px;
}
.calendar .days ul li.selected span,
.calendar .dates ul li.selected span {
  font-weight: 700;
  border: 1px solid #ff950a;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(214, 121, 0);
}
.calendar .days ul li.today span,
.calendar .dates ul li.today span {
  overflow: hidden;
  font-weight: 700;
  border: 1px solid #0a91ff;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: rgb(0, 118, 214);
  text-shadow: 1px 1px 0px #005aa3,2px 2px 0px #005aa3,3px 3px 0px #005aa3,4px 4px 0px #005aa3,5px 5px 0px #005aa3,6px 6px 0px #005aa3,7px 7px 0px #005aa3,8px 8px 0px #005aa3,9px 9px 0px #005aa3,10px 10px 0px #005aa3,11px 11px 0px #005aa3,12px 12px 0px #005aa3,13px 13px 0px #005aa3,14px 14px 0px #005aa3,15px 15px 0px #005aa3,16px 16px 0px #005aa3,17px 17px 0px #005aa3,18px 18px 0px #005aa3,19px 19px 0px #005aa3,20px 20px 0px #005aa3;
}
.calendar .days ul li.blank span,
.calendar .dates ul li.blank span {
  box-shadow: none;
  background-color: transparent;
  pointer-events: none;
}
.calendar .days ul li:before,
.calendar .dates ul li:before {
  display: block;
  padding-top: 100%;
  content: "";
}
.calendar .days ul li span,
.calendar .dates ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 1.25;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.calendar .dates li {
  cursor: pointer;
}