body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05) 1px, 0, transparent 50px);
  background-color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: fixed;
  z-index: 2;
}
#header h1 {
  font-weight: 300;
  font-size: 18px;
  text-shadow: 1px 1px 0px #ccc,2px 2px 0px #ccc,3px 3px 0px #ccc,4px 4px 0px #ccc,5px 5px 0px #ccc,6px 6px 0px #ccc,7px 7px 0px #ccc,8px 8px 0px #ccc,9px 9px 0px #ccc,10px 10px 0px #ccc,11px 11px 0px #ccc,12px 12px 0px #ccc,13px 13px 0px #ccc,14px 14px 0px #ccc,15px 15px 0px #ccc,16px 16px 0px #ccc,17px 17px 0px #ccc,18px 18px 0px #ccc,19px 19px 0px #ccc,20px 20px 0px #ccc,21px 21px 0px #ccc,22px 22px 0px #ccc,23px 23px 0px #ccc,24px 24px 0px #ccc,25px 25px 0px #ccc,26px 26px 0px #ccc,27px 27px 0px #ccc,28px 28px 0px #ccc,29px 29px 0px #ccc,30px 30px 0px #ccc,31px 31px 0px #ccc,32px 32px 0px #ccc,33px 33px 0px #ccc,34px 34px 0px #ccc,35px 35px 0px #ccc,36px 36px 0px #ccc,37px 37px 0px #ccc,38px 38px 0px #ccc,39px 39px 0px #ccc,40px 40px 0px #ccc,41px 41px 0px #ccc,42px 42px 0px #ccc,43px 43px 0px #ccc,44px 44px 0px #ccc,45px 45px 0px #ccc,46px 46px 0px #ccc,47px 47px 0px #ccc,48px 48px 0px #ccc,49px 49px 0px #ccc,50px 50px 0px #ccc;
  text-transform: uppercase;
}
#header h1 strong {
  font-weight: 700;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#main .scene {
  width: 1400px;
  height: 700px;
  perspective: 700px;
}
#main .scene .list {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(2154px) rotateY(0deg);
}
#main .scene .list > li {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}
#main .scene .list > li:nth-child(1) {
  background-color: rgba(26, 224, 0, 0.5);
  transform: rotateY(0deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(2) {
  background-color: rgba(5, 147, 212, 0.5);
  transform: rotateY(-36deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(3) {
  background-color: rgba(156, 6, 216, 0.5);
  transform: rotateY(-72deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(4) {
  background-color: rgba(206, 24, 39, 0.5);
  transform: rotateY(-108deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(5) {
  background-color: rgba(138, 51, 1, 0.5);
  transform: rotateY(-144deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(6) {
  background-color: rgba(228, 121, 0, 0.5);
  transform: rotateY(-180deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(7) {
  background-color: rgba(26, 224, 0, 0.5);
  transform: rotateY(-216deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(8) {
  background-color: rgba(5, 147, 212, 0.5);
  transform: rotateY(-252deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(9) {
  background-color: rgba(156, 6, 216, 0.5);
  transform: rotateY(-288deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}
#main .scene .list > li:nth-child(10) {
  background-color: rgba(206, 24, 39, 0.5);
  transform: rotateY(-324deg) rotateX(0deg) translateZ(-2174px);
  box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.btns {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.btns button {
  background-color: none;
  outline: none;
  border: none;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  background-color: #111;
  color: #fff;
  overflow: hidden;
}
.btns button:nth-child(1).on {
  background-color: rgb(228, 121, 0);
  text-shadow: 1px 1px 0px #b15e00,2px 2px 0px #b15e00,3px 3px 0px #b15e00,4px 4px 0px #b15e00,5px 5px 0px #b15e00,6px 6px 0px #b15e00,7px 7px 0px #b15e00,8px 8px 0px #b15e00,9px 9px 0px #b15e00,10px 10px 0px #b15e00,11px 11px 0px #b15e00,12px 12px 0px #b15e00,13px 13px 0px #b15e00,14px 14px 0px #b15e00,15px 15px 0px #b15e00,16px 16px 0px #b15e00,17px 17px 0px #b15e00,18px 18px 0px #b15e00,19px 19px 0px #b15e00,20px 20px 0px #b15e00,21px 21px 0px #b15e00,22px 22px 0px #b15e00,23px 23px 0px #b15e00,24px 24px 0px #b15e00,25px 25px 0px #b15e00,26px 26px 0px #b15e00,27px 27px 0px #b15e00,28px 28px 0px #b15e00,29px 29px 0px #b15e00,30px 30px 0px #b15e00;
}
.btns button:nth-child(2).on {
  background-color: rgb(26, 224, 0);
  text-shadow: 1px 1px 0px #14ad00,2px 2px 0px #14ad00,3px 3px 0px #14ad00,4px 4px 0px #14ad00,5px 5px 0px #14ad00,6px 6px 0px #14ad00,7px 7px 0px #14ad00,8px 8px 0px #14ad00,9px 9px 0px #14ad00,10px 10px 0px #14ad00,11px 11px 0px #14ad00,12px 12px 0px #14ad00,13px 13px 0px #14ad00,14px 14px 0px #14ad00,15px 15px 0px #14ad00,16px 16px 0px #14ad00,17px 17px 0px #14ad00,18px 18px 0px #14ad00,19px 19px 0px #14ad00,20px 20px 0px #14ad00,21px 21px 0px #14ad00,22px 22px 0px #14ad00,23px 23px 0px #14ad00,24px 24px 0px #14ad00,25px 25px 0px #14ad00,26px 26px 0px #14ad00,27px 27px 0px #14ad00,28px 28px 0px #14ad00,29px 29px 0px #14ad00,30px 30px 0px #14ad00;
}
.btns button:nth-child(3).on {
  background-color: rgb(5, 147, 212);
  text-shadow: 1px 1px 0px #0470a2,2px 2px 0px #0470a2,3px 3px 0px #0470a2,4px 4px 0px #0470a2,5px 5px 0px #0470a2,6px 6px 0px #0470a2,7px 7px 0px #0470a2,8px 8px 0px #0470a2,9px 9px 0px #0470a2,10px 10px 0px #0470a2,11px 11px 0px #0470a2,12px 12px 0px #0470a2,13px 13px 0px #0470a2,14px 14px 0px #0470a2,15px 15px 0px #0470a2,16px 16px 0px #0470a2,17px 17px 0px #0470a2,18px 18px 0px #0470a2,19px 19px 0px #0470a2,20px 20px 0px #0470a2,21px 21px 0px #0470a2,22px 22px 0px #0470a2,23px 23px 0px #0470a2,24px 24px 0px #0470a2,25px 25px 0px #0470a2,26px 26px 0px #0470a2,27px 27px 0px #0470a2,28px 28px 0px #0470a2,29px 29px 0px #0470a2,30px 30px 0px #0470a2;
}
.btns button:nth-child(4).on {
  background-color: rgb(156, 6, 216);
  text-shadow: 1px 1px 0px #7805a6,2px 2px 0px #7805a6,3px 3px 0px #7805a6,4px 4px 0px #7805a6,5px 5px 0px #7805a6,6px 6px 0px #7805a6,7px 7px 0px #7805a6,8px 8px 0px #7805a6,9px 9px 0px #7805a6,10px 10px 0px #7805a6,11px 11px 0px #7805a6,12px 12px 0px #7805a6,13px 13px 0px #7805a6,14px 14px 0px #7805a6,15px 15px 0px #7805a6,16px 16px 0px #7805a6,17px 17px 0px #7805a6,18px 18px 0px #7805a6,19px 19px 0px #7805a6,20px 20px 0px #7805a6,21px 21px 0px #7805a6,22px 22px 0px #7805a6,23px 23px 0px #7805a6,24px 24px 0px #7805a6,25px 25px 0px #7805a6,26px 26px 0px #7805a6,27px 27px 0px #7805a6,28px 28px 0px #7805a6,29px 29px 0px #7805a6,30px 30px 0px #7805a6;
}
.btns button:nth-child(5).on {
  background-color: rgb(206, 24, 39);
  text-shadow: 1px 1px 0px #a0131e,2px 2px 0px #a0131e,3px 3px 0px #a0131e,4px 4px 0px #a0131e,5px 5px 0px #a0131e,6px 6px 0px #a0131e,7px 7px 0px #a0131e,8px 8px 0px #a0131e,9px 9px 0px #a0131e,10px 10px 0px #a0131e,11px 11px 0px #a0131e,12px 12px 0px #a0131e,13px 13px 0px #a0131e,14px 14px 0px #a0131e,15px 15px 0px #a0131e,16px 16px 0px #a0131e,17px 17px 0px #a0131e,18px 18px 0px #a0131e,19px 19px 0px #a0131e,20px 20px 0px #a0131e,21px 21px 0px #a0131e,22px 22px 0px #a0131e,23px 23px 0px #a0131e,24px 24px 0px #a0131e,25px 25px 0px #a0131e,26px 26px 0px #a0131e,27px 27px 0px #a0131e,28px 28px 0px #a0131e,29px 29px 0px #a0131e,30px 30px 0px #a0131e;
}
.btns button:nth-child(6).on {
  background-color: rgb(138, 51, 1);
  text-shadow: 1px 1px 0px #572001,2px 2px 0px #572001,3px 3px 0px #572001,4px 4px 0px #572001,5px 5px 0px #572001,6px 6px 0px #572001,7px 7px 0px #572001,8px 8px 0px #572001,9px 9px 0px #572001,10px 10px 0px #572001,11px 11px 0px #572001,12px 12px 0px #572001,13px 13px 0px #572001,14px 14px 0px #572001,15px 15px 0px #572001,16px 16px 0px #572001,17px 17px 0px #572001,18px 18px 0px #572001,19px 19px 0px #572001,20px 20px 0px #572001,21px 21px 0px #572001,22px 22px 0px #572001,23px 23px 0px #572001,24px 24px 0px #572001,25px 25px 0px #572001,26px 26px 0px #572001,27px 27px 0px #572001,28px 28px 0px #572001,29px 29px 0px #572001,30px 30px 0px #572001;
}