@import "vars";
@import "mixin";

// sass list  (a.k.a js array)
$colors: (rgb(228, 121, 0), rgb(26, 224, 0), rgb(5, 147, 212), rgb(156, 6, 216), rgb(206, 24, 39), rgb(138, 51, 1));

body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 99;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  h1 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    @include longShadow(#ccc, 50);
    strong {
      font-weight: 700;
    }
  }
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.corona {
  width: 1200px;
  height: 600px;
  //background-color: #000;
}

.calendarBox {
  position: absolute;
  top: 100px;
  right: 50px;
  input {
    width: 340px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: inherit;
    color: #fff;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }
}
.calendar {
  display: none;
  width: 300px;
  padding: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    button {
      color: #fff;
      border: none;
      background: none;
      outline: none;
    }
    .month {
      font-weight: 700;
    }
  }
  .days {
    margin: 10px 0;
    text-transform: uppercase;
    .sun {
      span {
        background-color: rgb(200, 0, 0);
      }
    }
    .sat {
      span {
        background-color: rgb(0, 118, 214);
      }
    }
  }
  .days,
  .dates {
    ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 13px;
      font-weight: 700;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 7 - 4px);
        position: relative;
        margin: 2px;
        &.selected span {
          font-weight: 700;
          border: 1px solid lighten(rgb(214, 121, 0), 10);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
          background-color: rgb(214, 121, 0);
        }
        &.today span {
          overflow: hidden;
          font-weight: 700;
          border: 1px solid lighten(rgb(0, 118, 214), 10);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
          background-color: rgba(0, 118, 214);
          @include longShadow(darken(rgb(0, 118, 214), 10));
        }
        &.blank span {
          box-shadow: none;
          background-color: transparent;
          pointer-events: none;
        }
        &:before {
          display: block;
          padding-top: 100%;
          content: "";
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;
          line-height: 1.25;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          border-radius: 100px;
          background-color: rgba(255, 255, 255, 0.1);
          box-sizing: border-box;
        }
      }
    }
  }
  .dates li {
    cursor: pointer;
  }
}
